version: v1alpha1
metadata:
  name: nvidia-modules-p2p-production
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides NVIDIA open kernel modules patched for the production P2P track and built against a specific Talos version.
  compatibility:
    talos:
      version: ">= v1.13.0-beta.1"
